<section class="main-form">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <nav>
      <%= link_to unauthenticated_root_path do %>
        <%= image_tag("left-arrow.svg") %>
      <% end %>
      <h2>register</h2>
      <%= f.submit "Next", class: "btn-submit" %>
    </nav>

    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="reg-fields">
      <%= f.text_field :name, placeholder: "Full name", autofocus: true, autocomplete: "name", class: "field-input" %>
      <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email", class: "field-input" %>
      <%= f.password_field :password, placeholder: "Password (6 characters minimum)", autocomplete: "new-password", class: "field-input" %>
      <%= f.password_field :password_confirmation, placeholder: "Confirm Password", autocomplete: "new-password", class: "field-input" %>
    </div>
  <% end %>

  <p class="text-swap">Already have an account? <%= render "devise/shared/links" %></p>
</section>