<section class="main-form">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <nav>
      <%= link_to unauthenticated_root_path do %>
        <%= image_tag("left-arrow.svg") %>
      <% end %>
      <h2>login</h2>
      <%= f.submit "Log in", class: "btn-submit" %>
    </nav>

    <div class="reg-fields">
      <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email", class: "field-input" %>
      <%= f.password_field :password, placeholder: "Password", autocomplete: "current-password", class: "field-input" %>
      <% if devise_mapping.rememberable? %>
        <div class="field-rem">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
    </div>

  <% end %>

  <p class="text-swap">New to this site? <%= render "devise/shared/links" %></p>
</section>
